<!doctype html>
<html>
  <head>
    <title>PORLIB</title>
    <meta charset="utf-8" />
	<link rel="stylesheet" href="{{ url_for('static', filename='app1.css') }}" />
  </head>
  <body id="page">
  
		<center>
		<video controls="controls" width="350" preload="metadata">

		<source src="{{ link }}#t=0.5"
            type="video/mp4">

		Sorry, your browser doesn't support embedded videos.
		</video>
		</center>
	
	
		<form id="form" method="POST">
			Enter POR URL: <input name="text" size="40">
			<input type="submit">
		</form>
	
	
		<textarea cols="45" rows="15" readonly>
		{{log}}
		</textarea>
	
  </body>
</html>
