<!doctype html>
<html>
  <head>
    <title>PORLIB STREAM</title>
    <meta charset="utf-8" />
	<meta http-equiv="refresh" content="60; http://porlib.herokuapp.com/stream" />
  </head>
  <body id="page">
  
	<center>
		<video controls="controls" width="350" preload="metadata">

		<source src={{ url_for('static', filename="%s" % link) }}#t=0.1
            type="video/mp4">

		Sorry, your browser doesn't support embedded videos.
		</video>
		
	
	
		<form id="form" method="POST">
			Enter POR URL: <input name="text" size="40">
			<input type="submit">
		</form>
	
	
	</center>
	
	<script>
		if ( window.history.replaceState ) {
			window.history.replaceState( null, null, window.location.href );
		}
	</script>

  </body>
</html>
