<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PORLIB | ENJOY</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  </head>
  <body>

    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>


        <div class="off-canvas-content" data-off-canvas-content>
          <div class="callout primary">
            <div class="row column">
              <h1>PORLIB</h1>
            </div>
          </div>
          <div class="row small-up-2 medium-up-3 large-up-4">
            
			{% for vid in vids %}
			
			<div class="column">
              <video class="thumbnail" controls="controls" preload="metadata">
				<source src={{ url_for('static', filename="videos/%s" % vid) }}
					type="video/mp4">
					Sorry, your browser doesn't support embedded videos.				
			  </video>
            </div>
			
            {% endfor %}
          </div>

          <hr>

        </div>
      </div>
    </div>


  </body>
</html>



